/* google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #E5E5E5 !important;
    font-family: 'Roboto', sans-serif;
}
.display{
    margin-top: 50px;
    padding: 40px 40px;
    border-radius: 10px;
    background-color: #fff;
}
.display h1{
    font-family: 'Montserrat', sans-serif;
    padding: 35px 0;
    line-height: 59px;
    color: #183153;
}
.dolar{
    font-size: 28px;
}
.fa-icon{
    color: #ecad00;
    font-size: 22px;
}
.fa-icon:hover{
    color:#183153;
    font-size: 25px;
}

.calculator{
    margin: 0px 20px;
    padding: 0px 20px;
    background-color: #F8F8F8; 
    border-radius: 10px; 
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
h3{
    font-family:'Roboto', sans-serif !important;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    padding-top: 30px;
}
.btn-btn{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 23px !important;
    color: #FFFFFF !important;
    padding: 8px 10px;
    background-color: #59A5FF !important;
    border: 2px solid !important;
}
.btn-btn1{
    font-family: 'Roboto', sans-serif !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    line-height: 23px !important;
    color: #FFFFFF !important;
    padding: 8px 10px;
    background-color: #59A5FF !important;
    border-radius: 5px !important;
    border: 2px solid !important;
}
.btn-btn:hover ,.btn-btn1:hover{
    color: #000 !important;
    border: 2px solid #000;
    background-color: #fff !important;
}
.notify {
    background-color: rgba(209, 209, 209, 0.158);
    display: none; /*new line after solution */
    padding: 5px;
    border: 1px solid #FF637B;
}
/*media queries */
 @media (min-width: 400px) and (max-width: 768px) {
    .display h1{
        font-size: 22px !important;
        line-height: 45px;
    }
    .display .img-1{
        width: 35px;
    }
    h2{
        font-size: 20px;
        line-height: 22px;
    }
    h3{
        font-size: 20px;
        line-height: 20px;
    }
     
    .btn-btn{
        font-size: 17px !important;
        line-height: 20px !important;
        /* width: 100px;
        height: 55px; */
    }
    .btn-btn1{
        font-size: 16px !important;
        line-height: 20px !important;
        /* width: 90px;
        height: 35px; */

    }
  }
 @media (max-width: 514px) {
    .btn-btn1{
        margin-top: 10px;
        font-size: 15px !important;
        line-height: 18px !important;
        width: 90px;
        height: 30px;

    }
  }
@media (min-width: 780px) and (max-width: 1020px) {
    .display h1{
        font-size: 25px !important;
        line-height: 45px;
    }
    .display .img-1{
        width: 45px;
    }
    h2{
        font-size: 22px;
        line-height: 24px;
    }
    h3{
        font-size: 20px;
        line-height: 22px;
    }
    .btn-btn{
        font-size: 20px !important;
        line-height: 20px !important;
        /* width: 109px;
        height: 55px; */
    }
    .btn-btn1{
        font-size: 20px !important;
        line-height: 20px !important;
        /* width: 100px;
        height: 35px; */
    }
  }